<script>
  import { onMount } from 'svelte';
  import { prayersStore } from '../store/prayersStore';
  import { format } from 'date-fns';
  import { clockStyle } from '../config/theme';
  import { onDestroy } from 'svelte';

  let time;

  const unsubscribePrayers = prayersStore.subscribe(value => {
    time = format(value.now, 'HH:mm:ss');
  });

  onDestroy(unsubscribePrayers);
</script>

<style>
  #clock {
    display: flex;
    height: 100%;
    line-height: 1;

    /* height: 20%; */
    /* height: 15vh; */

    justify-content: center;
    align-items: center;
    padding: 0;
    font-size: 8vh;
    /* border-top: 2px solid rgba(0, 0, 0, 0.25);
    border-bottom: 2px solid rgba(0, 0, 0, 0.25); */
  }
</style>

<section id="clock" style={clockStyle}>
  <div>{time}</div>
  <!-- <div>{hours}:{minutes}:{seconds}</div> -->
</section>
