<script>
  import { prayersStore } from '../store/prayersStore';
  import { format } from 'date-fns';
  import { hijriDate } from '../helpers/func';
  import logo from '../config/logo.svg';
  // let src = "images/background.jpg";
  import { headerStyle, logoStyle } from '../config/theme';
  import { onDestroy } from 'svelte';

  // console.log(logo);
  let date;
  let hijri;

  const unsubscribePrayers = prayersStore.subscribe(value => {
    date = format(value.now, 'EEE d MMMM yyyy');
    hijri = hijriDate(value.hijri);
  });

  onDestroy(unsubscribePrayers);
</script>

<style>
  #header {
    height: 4vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.25);
    padding: 2vh;
    font-size: 2vh;
  }

  #header > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    font-size: 75%;
  }
  #header > div:first-child {
    justify-content: flex-start;
    align-items: center;
    /* text-align: left; */
    width: 100% !important;
    height: 3vh !important;
  }

  #header > div:nth-child(2) {
    justify-content: center;
    align-items: center;
    /* text-align: left; */
    width: 3vh !important;
    height: 3vh !important;
  }
  #header > div:nth-child(2) div {
    justify-content: flex-end;
    align-items: flex-end;
    /* text-align: left; */
    width: 3vh;
    height: 3vh;
  }
  #header > div:last-child {
    justify-content: flex-end;
    align-items: center;
  }
  #header .logo {
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    height: 3vh;
  }
  /* #header .logo img {
    width: 30px !important;
    height: 30px !important;
    fill: #fff;
    fill-rule: nonzero;
  }
  :global(.logo .img) {
    fill: #fff;
    fill-rule: nonzero;
  } */
</style>

<section id="header" style={headerStyle}>
  <div>{date}</div>
  <div>
    <div class="logo" style={logoStyle}>
      {@html logo}
    </div>
  </div>
  <div>{hijri}</div>
  <!-- <div>{hours}:{minutes}:{seconds}</div> -->
</section>
<!-- date: (state: any) => format(state.prayers.now, "EEE d MMMM yyyy"), hijri:
(state: any) => hijriDate(state.prayers.hijri) -->
<!-- <template>
  <section id="header">
    <div>{{ date }}</div>
    <div class="image">
      <Logo/>
    </div>
    <div>{{ hijri }}</div>
  </section>
</template> -->
