<script>
  import { settingsStore } from '../store/settingsStore';
  import { format } from 'date-fns';
  import { hijriDate } from '../helpers/func';
  import {
    messageStyle,
    messageTextStyle,
    messageRefStyle,
  } from '../config/theme';
  import { onDestroy } from 'svelte';

  // console.log(logo);
  // let ar;
  // let en;
  let text;
  let ref;

  const unsubscribeSettings = settingsStore.subscribe(value => {
    // console.log(value);
    text = value
      ? value.hadith
        ? value.hadith.text
        : value.announcement
        ? value.announcement
        : ''
      : '';
    ref = value
      ? value.hadith
        ? value.hadith.ref
        : value.text
        ? value.text.en
        : ''
      : '';
    // ar = value ? value.text.ar : "";
    // en = value ? value.text.en : "";
  });

  onDestroy(unsubscribeSettings);
</script>

<style>
  #message {
    height: 100%;
    /* height: 20%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* display: flex; */
    /* flex-grow: 0.15; */
    /* align-items: center;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; */
    /* background: rgba(0, 0, 0, 0.05); */
    padding: 2vh;
    font-size: 2vh;

    /* color: #eee; */
  }
  /* .ar {
    font-size: 120%;
  } */
  div {
    padding: 1vh 0;
  }

  .text {
    font-size: 75%;
  }
  .ref {
    font-size: 50%;
  }
</style>

<section id="message" style={messageStyle}>
  <!-- {#if ar}
    <div class="ar">{ar}</div>
  {/if}
  {#if en}
    <div>{en}</div>
  {/if} -->
  {#if text}
    <div class="text" style={messageTextStyle}>{text}</div>
  {/if}
  {#if ref}
    <div class="ref" style={messageRefStyle}>{ref}</div>
  {/if}
</section>
