<script>
  import { prayersStore } from '../store/prayersStore';
  import { settingsStore } from '../store/settingsStore';
  import { format } from 'date-fns';
  import { hijriDate } from '../helpers/func';
  import {
    prayersStyle,
    prayerRowStyle,
    prayerHeaderStyle,
    prayerMainStyle,
    prayerNextStyle,
  } from '../config/theme';
  import { onDestroy } from 'svelte';

  // let src = "images/background.jpg";
  // console.log(logo);
  let date;
  let hijri;

  const renderPrayers = (prayersList, join) => {
    // console.log(join);
    // console.log(prayersList);
    const { next, isAfterIsha, focus } = prayersList;

    const adhan = prayer => {
      let result;
      if (join && prayer.name === 'isha') {
        result = 'after';
      } else {
        result = format(prayer.time, 'H:mm');
      }
      return result;
    };

    const iqamah = prayer => {
      let result;
      if (join && prayer.name === 'isha') {
        result = 'maghrib';
      } else if (prayer.name === 'shurooq') {
        result = '';
      } else {
        result = format(prayer.jtime, 'H:mm');
      }
      return result;
    };

    /* eslint-disable react/no-array-index-key */
    return prayersList.map((prayer, index) => ({
      id: index,
      name: prayer.name,
      adhan: adhan(prayer),
      iqamah: iqamah(prayer),
      isNext: prayer.isNext,
      isJamaahPending: prayer.isJamaahPending,
    }));
  };

  let settings;
  let prayers;

  const unsubscribePrayers = prayersStore.subscribe(value => {
    // console.log(value.isAfterIsha);
    // console.log($settingsStore);
    prayers = value.isAfterIsha
      ? renderPrayers(value.prayers.tomorrow, $settingsStore.join)
      : renderPrayers(value.prayers.today, $settingsStore.join);
  });

  onDestroy(unsubscribePrayers);
</script>

<style>
  #prayers {
    height: 100%;

    /* height: 65vh; */
    /* height: 50%; */
    /* background: rgba(255, 145, 0, 0.75); */
    font-weight: 400;
    font-size: 2.4vh;
    padding: 0 1vh;
    border-top: 0.15vh solid rgba(255, 255, 255, 0.5);
    /* border-bottom: 0.15vh solid rgba(255, 255, 255, 0.5); */
  }
  header {
    display: flex;
    padding: 2vh;
    /* flex: 0.15;
    height: 15%; */
    /* height: 10%; */
    justify-content: space-between;
    align-items: center;
    /* background: #ccc; */
    font-size: 75%;
  }
  main {
    /* height: 90%; */
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    /* flex: 0.85;
    height: 85%; */
  }
  .prayer {
    display: flex;
    padding: 1.5vh 2vh;
    margin: 0.25vh;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.25);
    text-transform: uppercase;
  }
  .prayer div {
    width: 100%;
    text-align: center;
  }
  .prayer div:first-child {
    text-align: left;
  }

  .prayer div:last-child {
    text-align: right;
  }

  .next {
    background: rgba(255, 255, 255, 0.5);
    font-weight: 700;
  }
  .pending {
    position: relative;
  }
  .pending::before {
    position: absolute;
    content: '→';
    vertical-align: 50%;
    top: 0;
    right: 50%;
  }
</style>

<section id="prayers" style={prayersStyle}>
  <header style={prayerHeaderStyle}>
    <div>Prayer</div>
    <div>Adhan</div>
    <div>Iqamah</div>
  </header>
  <main>
    {#each prayers as { id, name, adhan, iqamah, isNext, isJamaahPending }, i}
      <div
        class={isNext ? 'prayer next' : 'prayer'}
        style={`${prayerRowStyle}${isNext ? prayerNextStyle : ''}`}>
        <div>{name}</div>
        <div>{adhan}</div>
        <div class={isJamaahPending && isNext ? 'pending' : ''}>
          <!-- {#if isJamaahPending && isNext}>{/if} -->
          {iqamah}
        </div>
      </div>
    {/each}

  </main>
</section>
