@import url('./fonts/open-sans.css');
/* @import url('./fonts/cairo.css'); */

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;

  overflow: hidden;

  background: #bdb;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Open Sans', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

path {
  fill-rule: nonzero;
}
path.off {
  opacity: 0.25;
}

#app {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url('./config/bg.png');
}
